<html>
  <head>
    <title>Er. Ashish Rajput</title>
    <link rel="stylesheet" href="../css/nav.css" />
    <link rel="stylesheet" href="../css/action.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <link rel="stylesheet" href="../css/project.css" />
    <link rel="stylesheet" href="../css/footer.css" />
    <link rel="stylesheet" href="../css/certificate.css" />
  </head>
  <body>
    <%- include("nav") -%>
    <div id="main"><%- include("action") -%></div>

    <%- include("profile") -%> <%- include("certificate") -%> <%-
    include("project") -%> <%- include("footer") -%>

    <script src="../js/profile.js"></script>
    <script src="../js/projects.js"></script>
    <script src="../js/nav.js" ></script>
  </body>
</html>
